<% provide(:title, "Refund") %>

	<div class="refund_page col-lg-12 container">
	<div class="col-lg-8 col-lg-offset-2">
	<h1> Refund Procedure </h1>

	<p> We accept return and refund for our product. Reach us through the following method: <br>
		<ol type:"1">
		<li>Via Whatsapp (number provided when confirming order)</li>
		<li>Via Email (replying our order email to request item return and refund)</li>
		<li>Via help page, <%= link_to 'Click here!', payment_path, style: 'font-weight:bold; text-decoration:underline; color: #ff8c00;' %></li>
		</ol><br>
		Once we are in touch, we will arrange a refund method at buyer's convenience: <br>
		<ol type:"1">
		<li>Pickup from delivery address or specific location (within Klang Valley area).</li>
		<li>Postage to specific address for buyers from outside Klang Valley. </li>
		</ol>
	</p>

	<h1> Refund Policy </h1>

	<p> We accept return and refund with following policy: <br>
		<ol type:"1">
		<li>7 days from item received, we appreciate feedback on refund reason and nothing more.</li>
		<li>Item must be returned in plastic packaging and in original state. </li>
		<li>Item will be checked with appreciation without any stains etc. </li>
		<li>Please allow 14 days for full refund through bank-in.</li>
		<li>Refund value for delivery include total delivery fees. </li>
		<li>Return postage cost to be beared by buyer.</li>
		<li>We reserved rights for any final decision, at just and fairness to our customers.</li>
		</ol>
		We apologise on the tedious return procedure as we have limited resources currently.
	</p>

	</div>	



</div>