<% if target.errors.any? %>
	<div id="error_explanation">
		<ul>
			<p style="font-weight: bold;"> uh oh, some error(s) popped out.. </p>
			<% target.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>