
<ul id="image_sortable" data-update-url="<%= update_image_positions_admin_products_url %>">
	<% image.each do |image| %>
		<li id="image_entry_<%=image.id%>" class="image_hover_class">
			<% unless image.id.nil? %>
				<%= image_tag image.image_url(:product_edit) %>	  
				<%= link_to [:admin, @product, image], method: :delete, remote: true, class: 'disable_link delete_image', title: "Delete", data: { confirm: 'Are you sure?', toggle: 'tooltip', placement: "top" } do %>
					<i class="btn btn-danger glyphicon glyphicon-remove disable_link"></i>
				<% end %>
			<% end %>
		</li>
	<%end%>
</ul>				