.submit_edit_variant {
	position: absolute;
	top: 500px;
	left: 30px;
	width: auto;
	display: inline-block;
}

input#variant_image_ids_ {
	height: 30px !important;
	width: 30px !important;
	margin-right: 20px;
}

img.vima {
	margin-bottom: 20px;
	margin-right: 20px;
}