@font-face {
    font-family: 'SourceCodePro-Semibold';
    src: url(/assets/SourceCodePro-Semibold.ttf) format("truetype");
}

@font-face {
    font-family: 'GoodDog';
    src: url(/assets/GoodDog.ttf) format("truetype");
}


@font-face {
    font-family: 'simplifica';
    src: url(/assets/SIMPLIFICA.ttf) format("truetype");
}

@font-face {
    font-family: 'champagne';
    src: url(/assets/champagne.ttf) format("truetype");
}

@font-face {
    font-family: 'robotol';
    src: url(/assets/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: GB;
    src: url(/assets/Gloss_And_Bloom.ttf) format("truetype");
}

@font-face {
    font-family: edo;
    src: url(/assets/edo.ttf) format("truetype");
}

@font-face {
    font-family: BN;
    src: url(/assets/BebasNeue.ttf) format("truetype");
}