
<li id="entry_<%= f.object.id  %>" class="option_value_form">
	<span class="handle" style="float: left; width: 4%; line-height: 35px;"><i class="fa fa-arrows-v"></i></span>
    <%= f.text_field :name, class: 'form-control ov_name' %>
	<%= f.text_field :presentation, class: 'form-control ov_pres' %>
</li>
