
<div class="footer" id="footer">
	<div class="footer_left">
		<span>"Inspire Something!"</span>
	</div>

	<div class="footer_right">
		<span>Teesprit 2020</span>
		<div class="footer_link">
			<a href="https://www.facebook.com/The-Everything-Apparel-545747722426741/"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/theeverythingapparel/?hl=en"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
		</div>
	</div>
</div>


